n8n/whatsapp-crm-workflow.json
{
  "name": "WhatsApp CRM → Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-crm",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "whatsapp-crm"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ (() => { const d = String($json.body?.phone || $json.phone || '').replace(/\\D/g, ''); if (d.length === 10) return '91' + d; return d; })() }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body?.message || $json.message || '' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $json.body?.timestamp || $json.timestamp || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "whatsapp_name",
              "name": "whatsapp_name",
              "value": "={{ $json.body?.whatsapp_name || $json.whatsapp_name || '' }}",
              "type": "string"
            },
            {
              "id": "direction",
              "name": "direction",
              "value": "={{ $json.body?.direction || $json.direction || 'inbound' }}",
              "type": "string"
            },
            {
              "id": "message_id",
              "name": "message_id",
              "value": "={{ $json.body?.message_id || $json.message_id || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-phone",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "has-message",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-00000000000a",
      "name": "Valid Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "whatsapp_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.phone }}",
            "message": "={{ $json.message }}",
            "timestamp": "={{ $json.timestamp }}",
            "direction": "={{ $json.direction }}",
            "whatsapp_name": "={{ $json.whatsapp_name }}",
            "message_id": "={{ $json.message_id }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Save to Data Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [660, 240]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "whatsapp_messages"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Normalize Message').item.json.phone }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 20,
        "options": {
          "sort": {
            "sortRules": [
              {
                "column": "timestamp",
                "direction": "desc"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Get Chat History",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [880, 240]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Message').first().json;\nconst historyItems = $('Get Chat History').all();\n\nconst history = historyItems\n  .map((item) => item.json)\n  .sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp))\n  .map((row) => `[${row.timestamp}] ${row.direction}: ${row.message}`)\n  .join('\\n');\n\nconst systemPrompt = `You are a CRM assistant for an education coaching center in India (NIOS / board exam coaching).\n\nExtract lead information from WhatsApp conversations. Return ONLY valid JSON with these keys:\n{\n  \"student_name\": string | null,\n  \"alternate_phone\": string | null,\n  \"class_level\": string | null,\n  \"stream\": string | null,\n  \"subjects_failed\": string[] | null,\n  \"subjects_count\": number | null,\n  \"price_disclosed\": string | null,\n  \"intent\": \"new_inquiry\" | \"fee_inquiry\" | \"demo_request\" | \"follow_up\" | \"not_interested\" | \"enrolled\" | \"other\",\n  \"lead_status\": \"New\" | \"Contacted\" | \"Interested\" | \"Follow-up\" | \"Lost\" | \"Enrolled\",\n  \"lost_reason\": string | null,\n  \"next_followup_days\": number | null,\n  \"remarks\": string\n}\n\nRules:\n- student_name: from message text; use WhatsApp display name only if it looks like a real person name\n- subjects_failed: array like [\"Physics\", \"Chemistry\"]\n- subjects_count: number of failed subjects mentioned\n- price_disclosed: fee amount if discussed, otherwise \"No\"\n- remarks: 2-3 sentence summary of the FULL conversation history\n- Use null for unknown fields\n- lead_status must align with intent`;\n\nconst userPrompt = `WhatsApp display name: ${normalized.whatsapp_name || 'unknown'}\nPhone: ${normalized.phone}\n\nConversation history:\n${history || `[${normalized.timestamp}] inbound: ${normalized.message}`}\n\nLatest message:\n${normalized.message}`;\n\nreturn [{\n  json: {\n    ...normalized,\n    openai_body: {\n      model: 'gpt-4o',\n      temperature: 0.2,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openai_body }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "GPT-4o Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 240]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Build AI Prompt').first().json;\nconst aiRaw = $input.first().json;\n\nlet extracted = {};\ntry {\n  const content = aiRaw.choices?.[0]?.message?.content || '{}';\n  extracted = JSON.parse(content);\n} catch (e) {\n  extracted = {\n    student_name: normalized.whatsapp_name || null,\n    intent: 'other',\n    lead_status: 'Contacted',\n    remarks: normalized.message\n  };\n}\n\nconst intentMap = {\n  new_inquiry: 'New',\n  fee_inquiry: 'Interested',\n  demo_request: 'Interested',\n  follow_up: 'Follow-up',\n  not_interested: 'Lost',\n  enrolled: 'Enrolled',\n  other: 'Contacted'\n};\n\nconst leadStatus = extracted.lead_status || intentMap[extracted.intent] || 'Contacted';\nconst subjects = Array.isArray(extracted.subjects_failed)\n  ? extracted.subjects_failed.filter(Boolean)\n  : [];\n\nconst followupDays = Number(extracted.next_followup_days);\nconst nextFollowUp = Number.isFinite(followupDays) && followupDays > 0\n  ? new Date(Date.now() + followupDays * 86400000).toISOString().slice(0, 10)\n  : '';\n\nconst today = new Date().toISOString().slice(0, 10);\nconst lastContacted = String(normalized.timestamp).slice(0, 10);\n\nfunction normalizePhone(value) {\n  const digits = String(value || '').replace(/\\D/g, '');\n  if (digits.length === 10) return '91' + digits;\n  return digits;\n}\n\nconst phone = normalizePhone(normalized.phone);\n\nreturn [{\n  json: {\n    phone,\n    lead_id: `WA-${phone}`,\n    date: today,\n    student_name: extracted.student_name || normalized.whatsapp_name || '',\n    alternate_phone: extracted.alternate_phone ? normalizePhone(extracted.alternate_phone) : '',\n    class_level: extracted.class_level || '',\n    stream: extracted.stream || '',\n    subjects_failed: subjects.join(', '),\n    subjects_count: extracted.subjects_count ?? (subjects.length || ''),\n    source: 'WhatsApp',\n    price_disclosed: extracted.price_disclosed || 'No',\n    lead_status: leadStatus,\n    lost_reason: extracted.lost_reason || '',\n    assigned_to: '',\n    last_contacted: lastContacted,\n    next_follow_up: nextFollowUp,\n    remarks: extracted.remarks || normalized.message\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Map to CRM Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 240]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "10zXMy_k8mbLlrKRU8o5ug3gd06jZ0KqZRWsoKOa2BA4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Read CRM Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, 240]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Map to CRM Fields').first().json;\nconst rows = $input.all().map((item) => item.json);\n\nfunction normalizePhone(value) {\n  const digits = String(value || '').replace(/\\D/g, '');\n  if (digits.length === 10) return '91' + digits;\n  return digits;\n}\n\nfunction phoneKey(value) {\n  return normalizePhone(value).slice(-10);\n}\n\nconst targetKey = phoneKey(lead.phone);\nlet existing = null;\n\nfor (const row of rows) {\n  const rowKey = phoneKey(row.Phone || row.phone);\n  const altKey = phoneKey(row['Alternate Phone'] || row.alternate_phone);\n  if ((rowKey && rowKey === targetKey) || (altKey && altKey === targetKey)) {\n    existing = row;\n    break;\n  }\n}\n\nconst followups = existing\n  ? (Number(existing['Follow-ups Count'] || existing.follow_ups_count || 0) + 1)\n  : 1;\n\nconst pick = (next, prev) => {\n  if (next !== null && next !== undefined && String(next).trim() !== '') return next;\n  return prev || '';\n};\n\nconst phone = normalizePhone(existing?.Phone || lead.phone);\n\nconst merged = {\n  'Lead ID': existing?.['Lead ID'] || lead.lead_id,\n  'Date': existing?.Date || lead.date,\n  'Student Name': pick(lead.student_name, existing?.['Student Name']),\n  'Phone': phone,\n  'Alternate Phone': pick(lead.alternate_phone, existing?.['Alternate Phone']),\n  'Class/Level': pick(lead.class_level, existing?.['Class/Level']),\n  'Stream': pick(lead.stream, existing?.['Stream']),\n  'Subjects Failed': pick(lead.subjects_failed, existing?.['Subjects Failed']),\n  'Subjects Count': pick(lead.subjects_count, existing?.['Subjects Count']),\n  'Source': existing?.Source || lead.source,\n  'Price Disclosed': pick(lead.price_disclosed, existing?.['Price Disclosed']),\n  'Lead Status': lead.lead_status || existing?.['Lead Status'] || 'Contacted',\n  'Lost Reason': pick(lead.lost_reason, existing?.['Lost Reason']),\n  'Assigned To': existing?.['Assigned To'] || '',\n  'Last Contacted': lead.last_contacted,\n  'Next Follow-up': pick(lead.next_follow_up, existing?.['Next Follow-up']),\n  'Follow-ups Count': followups,\n  'Remarks': lead.remarks\n};\n\nreturn [{ json: merged }];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Merge With Existing Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 240]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "10zXMy_k8mbLlrKRU8o5ug3gd06jZ0KqZRWsoKOa2BA4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json['Lead ID'] }}",
            "Date": "={{ $json.Date }}",
            "Student Name": "={{ $json['Student Name'] }}",
            "Phone": "={{ $json.Phone }}",
            "Alternate Phone": "={{ $json['Alternate Phone'] }}",
            "Class/Level": "={{ $json['Class/Level'] }}",
            "Stream": "={{ $json.Stream }}",
            "Subjects Failed": "={{ $json['Subjects Failed'] }}",
            "Subjects Count": "={{ $json['Subjects Count'] }}",
            "Source": "={{ $json.Source }}",
            "Price Disclosed": "={{ $json['Price Disclosed'] }}",
            "Lead Status": "={{ $json['Lead Status'] }}",
            "Lost Reason": "={{ $json['Lost Reason'] }}",
            "Assigned To": "={{ $json['Assigned To'] }}",
            "Last Contacted": "={{ $json['Last Contacted'] }}",
            "Next Follow-up": "={{ $json['Next Follow-up'] }}",
            "Follow-ups Count": "={{ $json['Follow-ups Count'] }}",
            "Remarks": "={{ $json.Remarks }}"
          },
          "matchingColumns": ["Phone"]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Upsert CRM Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2200, 240]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [[{ "node": "Normalize Message", "type": "main", "index": 0 }]]
    },
    "Normalize Message": {
      "main": [[{ "node": "Valid Message?", "type": "main", "index": 0 }]]
    },
    "Valid Message?": {
      "main": [
        [{ "node": "Save to Data Table", "type": "main", "index": 0 }],
        []
      ]
    },
    "Save to Data Table": {
      "main": [[{ "node": "Get Chat History", "type": "main", "index": 0 }]]
    },
    "Get Chat History": {
      "main": [[{ "node": "Build AI Prompt", "type": "main", "index": 0 }]]
    },
    "Build AI Prompt": {
      "main": [[{ "node": "GPT-4o Extract", "type": "main", "index": 0 }]]
    },
    "GPT-4o Extract": {
      "main": [[{ "node": "Map to CRM Fields", "type": "main", "index": 0 }]]
    },
    "Map to CRM Fields": {
      "main": [[{ "node": "Read CRM Sheet", "type": "main", "index": 0 }]]
    },
    "Read CRM Sheet": {
      "main": [[{ "node": "Merge With Existing Lead", "type": "main", "index": 0 }]]
    },
    "Merge With Existing Lead": {
      "main": [[{ "node": "Upsert CRM Lead", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
